github_token=<personal access token>
github_repo=<organization>/<repository>
app_name=<GitHub Planner for project>
sdlc_feature_labels=enhancement
sdlc_bug_labels=bug
sdlc_docs_labels=documentation
sdlc_escape_label=escape
